<h1>New Import</h1>
<p id="notice"><%= notice %></p>
<%= form_with url: import_path do |f| %>
  <div class="form__file-field">
    <%= f.label :file, 'File (.xlsx)' %>
    <%= f.file_field :file, required: true %>
  </div>
  <div class="form__submit">
    <button type="submit">Upload</button>
  </div>
<% end %>
